:root{
    --imageURL: url('../images/bg-desktop-light.jpg');
    --boxShadow: 0px 35px 31px 10px hsl(0deg 0% 0% / 7%), 0px 7px 11px 2px rgb(0 0 0 / 5%);

    --colorBackground: hsl(236, 33%, 92%);
    --primaryColor1: hsl(220, 98%, 61%);
    --color1: hsl(0, 0%, 98%);
    --color2: hsl(235, 19%, 35%);/*hsl(235, 32%, 92%)*/
    --color3: hsl(220, 3%, 77%);
    --color4: hsl(233, 11%, 52%);
    --color5: hsl(235, 19%, 35%);
    --color6: hsl(233, 14%, 35%);
}


@media(max-width: 600px){
    :root{
        --boxShadow: 0px 35px 31px 10px hsl(0deg 0% 0% / 10%);
    }
}


@media(max-width: 375px){
    :root{
        --imageURL: url(../images/bg-mobile-light.jpg);
    }
}