@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    transition: background-color 0.3s cubic-bezier(0.69, 0.28, 1, 0.26), background 0.3s cubic-bezier(0.69, 0.28, 1, 0.26), border 0.2s cubic-bezier(0.69, 0.28, 1, 0.26), color 0.35s cubic-bezier(0.69, 0.28, 1, 0.26);
}
body{
    background-color: var(--colorBackground);
    background-image: var(--imageURL);
    background-repeat: no-repeat;
}


main{
    margin: 70px auto 0;
    width: 550px;
}
div.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
    color: white;
    text-transform: uppercase;
    margin-bottom: 35px;
}
h1{
    letter-spacing: 0.6em;
}
h1 {
    position: relative;
    color: #fff;
    text-decoration: none;  
  }
  
  h1:before {
    content: "";
    position: absolute;
    width: 90%;
    height: 5px;
    bottom: -5px;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
  }
  h1:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
img#iconMode.animationMode{
    animation-name: changeMode;
    animation-duration: 350ms;
    animation-direction: alternate;
    animation-iteration-count: 2;
}
@keyframes changeMode{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0);
    }
}
#fhief{
    width: 26px;
    height: 26px;
}
#fhief:hover{
    animation: rotate 2s linear infinite;
}
@keyframes rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}


div#containerTodoListAndMenu{
    box-shadow: var(--boxShadow);
}
div.createTodo, div#containerTodoListAndMenu{
    border-radius: 7px;
    background-color: var(--color1);
}
div.createTodo, div.divTodoItem{
    padding: 18px 25px 18px;
    display: flex;
    gap: 25px;
}
div.createTodo{
    margin-bottom: 22px;
    box-shadow: 0px 20px 35px 10px hsl(0deg 0% 0% / 22%);
}
div.divTodoItem{
    display: flex;
    align-items: center;
    gap: 26px;
    color: var(--color5);
    text-shadow: 0px 0px 0px rgb(0 0 0);
    border-bottom: 1px solid var(--color3);
    position: relative;
}
div.circle{
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;
    border: 2px solid var(--color3);
    transition: none;
}
div#divCircleCreate:hover{
    cursor: pointer;
    background: linear-gradient(var(--color1), var(--color1)) padding-box, linear-gradient(120deg,hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
}
div#divCircleCreate.situationCreateCompleted{
    background-image: url(../images/icon-check.svg), linear-gradient(120deg,hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position: center center;
    border: none !important;
}
input#newTodo{
    background-color: transparent;
    font-size: 20px;
    border: none;
    outline: none;
    color: var(--color2);
    width: 85%;
}
input#newTodo::placeholder{
    font-size: 20px;
    color: var(--color5);
    opacity: 0.7;
}
input#newTodo.situationCreateCompleted::placeholder, input#newTodo.situationCreateCompleted{
    text-decoration: line-through;
}
input#newTodo:hover::placeholder, input#newTodo:focus::placeholder{
    color: var(--color2);
    opacity: 0.8;
}


div.notVisible{
    display: none;
}
div.circle.todoItem, div.divTodoItem p.todoItem{
    cursor: pointer;
}
div.divTodoItem.completed > div.circle.todoItem {
    background-image: url(../images/icon-check.svg), linear-gradient(120deg,hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position: center center;
    border: none !important;
}
div.divTodoItem.completed > p.todoItem {
    color: var(--color3);
    text-decoration: line-through;
    text-shadow: 0px 0px 0px rgb(0 0 0 / 66%);
}
div.divTodoItem.completed > p.todoItem:hover, div.divTodoItem.completed >div.circle:hover ~ p.todoItem{
    color: var(--color5);
    text-decoration: underline;
}
div.divTodoItem.active > p.todoItem:hover, div.divTodoItem.active >div.circle:hover ~ p.todoItem{
    color: var(--color3);
    text-decoration: line-through;
}
div.divTodoItem.active > div.circle.todoItem:hover {
    background: linear-gradient(var(--color1), var(--color1)) padding-box, linear-gradient(120deg,hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
}
p.todoItem{
    overflow: hidden;
    line-height: 1.5em;
    margin-right: 25px;
}
img.iconCross{
    position: absolute;
    cursor: pointer;
    left: 93%;
    opacity: 0.5;
    display: none;
}
img.iconCross.visible{
    display: block;
}
img.iconCross:hover{
    display: block;
    opacity: 1;
}


div.menu{
    padding: 18px 0 18px;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    color: var(--color4);
}
div.menu button{
    transition: none;
    font-size: 16px;
    font-weight: 700;
    color: var(--color4);
}
div.menu button:hover{
    color: var(--color2);
}
div.menu button#buttonClearComplete{
    font-weight: normal;
    text-shadow: 0px 0px 0px rgb(0 0 0);
}
div.buttonsDisplayTodo{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-weight: 700;
}
.buttonVisible{
    color: var(--primaryColor1) !IMPORTANT;
    font-weight: normal !IMPORTANT;
}


p.psoe {
    margin: 50px 0 50px;
    text-align: center;
    color: var(--color6);
}
.attribution {
    font-size: 16px;
    text-align: center;
    color: var(--color6);
    text-shadow: 1px 1px 1px rgb(0 0 0 / 21%);
    margin-bottom: 50px;
    line-height: 1.5em;
}
.attribution a {
    color: var(--primaryColor1);
}